<h1><em>{{summary}}</em></h1>
<p>Temperature: {{temperature}}</p>
<p>Apparent Temperature: {{apparentTemperature}}</p>
<p>Precip Probability: {{precipProbability}}%</p>
<p>Humidity: {{humidity}}</p>
<p>Dewpoint: {{dewPoint}}</p>
<p>Ozone: {{ozone}}</p>
<p>Visibility: {{visibility}}</p>
<p>Wind Speed: {{windSpeed}}</p>