<h3><em>{{summary}}</em></h3>

<div class="well">
<table class= "table table-condensed table-hover table-responsive">
	<tbody>
		<tr>
			<td>Temperature</td> <td>{{temperature}}&deg; F</td>
		</tr>
		<tr>
			<td>Apparent Temperature</td> <td>{{apparentTemperature}}&deg; F</td>
		</tr>
		<tr>
			<td>Chance of {{precipType}}</td> <td>{{precipProbability}}%</td>
		</tr>
		<tr>
			<td>Humidity</td> <td>{{humidity}} %</td>
		</tr>
		<tr>
			<td>Wind Speed</td> <td>{{windSpeed}} mph</td>
		</tr>
	</tbody>
</table>
</div>

{{#each alerts}}
  <h1>{{title}}</h1>
  <p>{{description}}</p>
{{/each}}
