<h3><em>{{summary}}</em></h3>

<table class= "table table-condensed">
	<tbody>
		<tr>
			<td>Temperature</td> <td>{{temperature}} F</td>
		</tr>
		<tr>
			<td>Apparent Temperature</td> <td>{{apparentTemperature}} F</td>
		</tr>
		<tr>
			<td>Chance of {{precipType}}</td> <td>{{precipProbability}}%</td>
		</tr>
		<tr>
			<td>Humidity</td> <td>{{humidity}}</td>
		</tr>
		<tr>
			<td>Dewpoint</td> <td>{{dewPoint}}</td>
		</tr>
		<tr>
			<td>Ozone</td> <td>{{ozone}}</td>
		</tr>
		<tr>
			<td>Visibility</td> <td>{{visibility}}</td>
		</tr>
		<tr>
			<td>Wind Speed</td> <td>{{windSpeed}}</td>
		</tr>
	</tbody>
</table>
