<h1><em>{{summary}}</em></h1>
<h3>Temperature: {{temperature}}</h3>
<h3>Apparent Temperature: {{apparentTemperature}}</h3>
<h3>Cloud Cover: {{cloudCover}}</h3>
<h3>Dewpoint: {{dewPoint}}</h3>
<h3>Humidity: {{humidity}}</h3>
<h3>Nearest Storm Bearing: {{nearestStormBearing}}</h3>
<h3>Nearest Storm Distance: {{nearestStormDistance}}</h3>
<h3>Ozone: {{ozone}}</h3>
<h3>Precip Intensity: {{precipIntensity}}</h3>
<h3>Precip Probability: {{precipProbability}}</h3>
<h3>Pressure: {{pressure}}</h3>
<h3>Visibility: {{visibility}}</h3>
<h3>Wind Bearing: {{windBearing}}</h3>
<h3>Wind Speed: {{windSpeed}}</h3>