{{#each forecastDay}}

<h3><em>{{weekDay}}</em></h3>
<p>{{summary}}</p>

<table class= "table table-condensed table-hover table-responsive">
	<tbody>
		<tr>
			<td>High</td> <td>{{temperatureMax}} F</td>
		</tr>
		<tr>
			<td>Low</td> <td>{{temperatureMin}} F</td>
		</tr>
		<tr>
			<td>Chance of {{precipType}}</td> <td>{{precipProbability}}%</td>
		</tr>
		<tr>
			<td>Sunrise Time</td> <td>{{sunriseTime}}</td>
		</tr>
		<tr>
			<td>Sunset Time</td> <td>{{sunsetTime}}</td>
		</tr>
	</tbody>
</table>

<br>

{{/each}}