{{#each forecastDay}}
<div>
	<h2>{{weekDay}}</h2>
	<h3>{{summary}}</h3>
	<p>High: {{temperatureMax}} F</p>
	<p>Low: {{temperatureMin}} F</p>
	<p>Chance of {{precipType}}: {{precipProbability}}%</p>
	<br>
</div>
{{/each}}