{{#each sevenDayForecast}}
<br>

<h3><em>{{weekDay}}</em></h3>
<div class="well">
<p>{{summary}}</p>

<table class= "table table-condensed table-hover table-responsive">
	<tbody>
		<tr>
			<td>High</td> <td>{{maxTemp}} F</td>
		</tr>
		<tr>
			<td>Low</td> <td>{{minTemp}} F</td>
		</tr>
		<tr>
			<td>Chance of {{precipType}}</td> <td>{{precipProb}}%</td>
		</tr>
		<tr>
			<td>Sunrise Time</td> <td>{{sunrise}}</td>
		</tr>
		<tr>
			<td>Sunset Time</td> <td>{{sunset}}</td>
		</tr>
	</tbody>
</table>
</div>


{{/each}}