<div>
	<h2>Day 0</h2>
	<h3>{{data.0.summary}}</h3>
	<h3>High: {{data.0.temperatureMax}}</h3>
	<h3>Low: {{data.0.temperatureMin}}</h3>
	<h3>Chance of {{data.0.precipType}}: {{data.0.precipProbability}}</h3>
</div>
